<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <header style="margin-left: 41.5%;font-size: 50px;color: white;">EDIT MY LIST</header>
   

    <form action="/task/<%= task._id %>?_method=PUT" method="POST">
    
        <div class="container" style="width: 30%; margin: 40px auto;">
           
            <div class="form-group">
            <input type="text" name="task[work]" placeholder="Type Here" class="form-control" value="<%= task.work %>">
            </div>

            <div class="form-group">
                <input type="text" name="task[day]" placeholder="Type Here" class="form-control" value="<%= task.day %>">
            </div>
            
        
            <button class="btn btn-primary" style="margin-left: 180px ;">Confirm</button>
        </div>
        </form>
    
</body>

<style>
    .vl {
      border-left: 3px solid green;
      height: 20px;
    }
    body{
        background-color:rgb(17, 110, 185)
    }
    </style>
</html>